.user-pets-container {
  height: 100%;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1570824104453-508955ab713e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fGRvZ3MlMjBhbmQlMjBjYXRzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

.user-pets-text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.user-pets-heading {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  border-radius: 10px;
  padding-bottom: 30px;
  width: 50vw;
  opacity: 0.9;
  background-color: #233d4d;
}

.user-pets {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: auto;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .user-pets-heading {
    font-size: 28px;
    width: 80vw;
  }

  .user-pets {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
}
