.sign-up-header{
  color: #1A2C38;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
  font-family: "Pacifico", cursive;
  font-size: 42px;
}

.individual-signup-input{
  width: 500px;
  height: 35px;
  padding: 10px;
  border-radius: 3.5px;
  border-color: #18101069; 
}

.signup-input-container {
  margin-bottom: 30px;
}

.signup-fields{
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  width: 700px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5px;
}

.signup-btn{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 7px;
  background-color: #233D4D;
  color: #FFFFFF;
  width: 200px;
}

.signup-btn:hover {
  transform:scale(1.1);
}

#error-message{
  color: #ff0000;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 786px) {

  .sign-up-header{
    font-size: 35px;
  }

  .individual-signup-input{
    width: 400px;
  }

  .signup-fields{
    width: 500px;
  }

  .signin-btn{
    width: 100px;
  }

  #error-message{
    font-size: 18px;
  }
}

@media only screen and (max-width: 546px) {

  .sign-up-header{
    font-size: 28px;
  }

  .individual-signup-input{
    width: 250px;
  }

  .signup-fields{
    width: 350px;
  }

  .signin-btn{
    width: 100px;
  }

  #error-message{
    font-size: 15px;
  }
}