.pets {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: auto;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .pets {
    display:flex;
    justify-items: center;
    flex-direction: column;
    margin-left:20px;
    margin-right: 20px;

  }
}
@media only screen and (max-width: 1050px) {
  .pets {
    display:flex;
    flex-wrap: wrap;
    margin-left:20px;
    margin-right: 20px;

  }
}
