.parent-container {
background-color: #84a59d;

}

@media screen and (max-width: 375px){
  .create-form-header {
    font-size: 29px;
    letter-spacing: 1px;
    padding: 5px;
    font-weight: 400;
    font-family: "Pacifico", cursive;
    text-decoration: underline;
  }
  .create-form-instructions {
    display: flex;
    font-size: 20px;
    font-weight: 400;
  }
  .form-images{
    width: 375px;
    height: 375px;
  }
}


