footer {
  display: flex;
  flex-shrink: 0;
  background-color: #233D4D;
}


.member-name{
  color: #FFFFFF;
  font-size: 12px;
}

.footer-photo-git {
  height: 20px;
  width:20px;
}


/* .fa {
  padding: 0px 0px 20px;
} */
