.sign-in-header{
  color: #1A2C38;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

input{
  width: 500px;
  height: 35px;
  padding: 10px;
  border-radius: 3.5px;
  border-color: #18101069;

}

.input-field {
  margin-bottom: 30px;
}

.signin-fields{
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  /* margin-right: 300px;
  margin-left: 300px; */
}

.signin-btn{
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 7px;
  background-color: #233D4D;
  color: #FFFFFF;
}

.signin-btn:hover {
  transform:scale(1.1);
}