
  .home-title {
    text-align: center;
    padding-top: 30px;
    font-family: "Pacifico", cursive;
    font-size: 40px;
  }

.mission-section {
  font-size: 20px;
  font-weight: 70;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  border-top: 1px solid #233D4D;
  line-height: 35px;
  border-top:1px solid #233D4D;
  border-radius: 1px;
  padding-left: 40px;
  padding-right: 100px;
  text-align: left;
  background-color: whitesmoke;
}

.mission-header {
  font-size: 20px;
  font-weight: 800;
}

.mission-statement {
  margin-bottom: 10px;
}

.mission-link {
  font-size: 25px;
  border:1px solid #233D4D;
  border-radius: 3px;
  padding: 5px;
  background-color: #cfdbd5;
}

.mission-link:hover {
  color: #233D4D;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 20px 10px 20px;
}

.disclaimer {
  font-size: 12px;
  padding-left: 0vw;
  padding-right: 15vw;
  line-height: 18px;
  margin-top: 10px;
  padding-bottom:10px;
}

.our-carousel {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* border: 1px solid blue; */
  justify-items: center;
}

.carousel-layout {
  display:flex;
  flex-direction: column;
}

.horizontalSlider___281Ls, 
.carousel__slider, 
.carousel__slider--horizontal {
  width: 550px;
  height: 550px;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonBack___1mlaL,
.carousel__back-button {
  order: -1;
  border: none;
  background-color: #cfdbd5;
  font-size: 50px;
}
.buttonNext___2mOCa,
.carousel__next-button {
  border: none;
  background-color: #cfdbd5;
  font-size: 50px;
}

.carousel__dot-group {
  align-self: flex-end; 
  justify-content: center;
  border: 3px solid green;
}

.carousel__dot {
  justify-content: space-between;
  padding: 5px;
  margin-right: 5px;
  width: 10px;
  height: 2px;
  border-radius: 50px;
  /* border:1px solid red; */
}

@media only screen and (max-width: 600px) {

  .horizontalSlider___281Ls, 
  .carousel__slider, 
  .carousel__slider--horizontal {
    width: 300px;
    height: 300px;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .horizontalSlider___281Ls, 
  .carousel__slider, 
  .carousel__slider--horizontal {
    width: 250px;
    height: 250px;
    justify-content: center;
    margin-bottom: 20px;
  }
}

