
.search-form {
  display: flex;
  justify-content: center;
  margin-top:  20px;
  margin-bottom:  30px;
  margin-left: 40px;
  margin-right: 40px;
}

.search-input {
  appearance: none;
  height: 40px;
  margin-left: 40px;
  margin-right: 40px;
  width: 50vw;
  font-size:18px;
  border-radius: 3px;
  border-color: #233D4D;
  padding-left:20px
}




