.nav-section {
  background-color: #324652;
}


.page-logo{
  color: #FFFFFF !important;
}

.nav-tabs{
  color: #FFFFFF !important;
  border: none !important;
}

.welcome-msg{
  color: #FFFFFF;
}

.toggle{
  background-color: white !important;
}